body {
    margin: 0;
    background-color: lightgrey;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

blockquote {
    font-family: Helvetica, Arial, sans-serif;
}

button {
    margin: 2em 0 0 2.3em;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}


.para {
    border: 2px solid;
    margin: 2rem;
}

.para-one {
    margin-left: 5rem;
    margin-right: 2rem;
    text-indent: -1.15rem;
}

.para-two {
    margin-left: 10rem;
    margin-right: 2rem;
    text-indent: -1.15rem;
}

iframe {
 display: block;
 margin: auto;
 width: 25rem;
 padding-top: 7rem;
}

.legal {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

